# This should ensure that only 'critical' questions are asked
d-i debconf/priority string critical

d-i debian-installer/locale string en_US.UTF-8
d-i debian-installer/language string en
d-i debian-installer/country string PL

# Keyboard selection.
d-i console-keymaps-at/keymap select us
d-i keyboard-configuration/xkb-keymap select us

d-i netcfg/use_autoconfig boolean true
d-i netcfg/choose_interface select {{ network.ethernet_interface_id }}

d-i netcfg/get_hostname string {{ hostname }}
d-i netcfg/get_domain string local

d-i hw-detect/load_firmware boolean false

### Description: Remote installation password:
#   You need to set a password for remote access to the Debian installer. A
#   malicious or unqualified user with access to the installer can have
#   disastrous results, so you should take care to choose a password that
#   is not easy to guess. It should not be a word found in the dictionary,
#   or a word that could be easily associated with you, like your middle
#   name.
#   .
#   This password is used only by the Debian installer, and will be
#   discarded once you finish the installation.
d-i network-console/password password 0x0D15EA5E
d-i network-console/password-again password 0x0D15EA5E

# Setup network console
d-i preseed/early_command string anna-install network-console
d-i network-console/start select continue

# disable login with password:
d-i network-console/password-disabled boolean true

d-i passwd/root-password password {{ root_user.password }}
d-i passwd/root-password-again password {{ root_user.password }}

d-i passwd/make-user boolean true
d-i passwd/user-fullname string placeholder
d-i passwd/username string placeholder
d-i passwd/user-password password placeholder
d-i passwd/user-password-again password placeholder
d-i passwd/root-login boolean true

d-i grub-installer/choose_bootdev string /dev/sda
d-i grub-pc/install_devices_disks_changed multiselect /dev/sda
d-i grub-pc/install_devices_empty boolean false
d-i grub-pc/install_devices multiselect /dev/sda
grub-pc grub-pc/install_devices_disks_changed multiselect /dev/sda

d-i mirror/country string Poland
d-i mirror/http/hostname string deb.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string
d-i mirror/suite string stable

popularity-contest popularity-contest/participate boolean false

# Individual additional packages to install
d-i pkgsel/run_tasksel boolean false
d-i pkgsel/include string {{ apt.packages | join(" ") }}
d-i pkgsel/upgrade select full-upgrade

d-i partman-auto/disk string /dev/sda
d-i partman-auto/method string regular

# # You can define the amount of space that will be used for the LVM volume
# # group. It can either be a size with its unit (eg. 20 GB), a percentage of
# # free space or the 'max' keyword.
d-i partman-auto-lvm/guided_size string max
d-i partman-auto/choose_recipe select atomic

d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

d-i preseed/late_command string \
    cp /preseed-setup.sh /target/{{ script.preseed.location }}; \
    cp /firstboot-setup.sh /target/{{ script.firstboot.location }}; \
    cp /firstboot.service /target/etc/systemd/system; \
    in-target mkdir -p /etc/libvirt; \
    cp /qemu.conf /target/etc/libvirt/qemu.conf; \

    in-target chmod 777 {{ script.preseed.location }}; \
    in-target chmod 777 {{ script.firstboot.location }}; \
    in-target systemctl enable firstboot.service; \
    in-target sh {{ script.preseed.location }}; \

    {% if debug %}
        in-target mkdir -p /root/.debug; \
        in-target mv {{ script.preseed.location }} /root/.debug; \
    {% else %}
        in-target rm -f {{ script.preseed.location }}; \
    {% endif %}
    in-target true;

# Automatically reboot post-installation
d-i finish-install/reboot_in_progress note
