#cloud-config
package_update: true
package_upgrade: true

packages:
  - apt-transport-https
  - qemu-guest-agent
  - fish
  - htop
  - ncdu
  - jq
  - locate
  - dnsutils
  - net-tools
  - tree
  - fail2ban
  - dstat
  - sysstat
  - atop

runcmd:
  - systemctl start qemu-guest-agent.service
  - apt clean

growpart:
  mode: auto
  devices: ['/']

#swap:
#  filename: /swap.img
#  size: "auto"
#  maxsize: 1073741824 # 1GiB

disable_root: true
users:
  - name: snuu
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/fish
    ssh_authorized_keys:
      {{}}
