#!/bin/sh

# setup authorized key for user root
mkdir -p /root/.ssh
echo 'ssh-rsa {{ public_key }}' >> /root/.ssh/authorized_keys
chown -R root:root /root/.ssh/
chmod 644 /root/.ssh/authorized_keys
chmod 700 /root/.ssh/

# setup authorized key for user {{ user.name }}
mkdir -p /home/{{ user.name }}/.ssh
echo 'ssh-rsa {{ public_key }}' >> /home/{{ user.name }}/.ssh/authorized_keys
chown -R {{ user.name }}:{{ user.name }} /home/{{ user.name }}/.ssh/
chmod 644 /home/{{ user.name }}/.ssh/authorized_keys
chmod 700 /home/{{ user.name }}/.ssh/

# allow passwordless sudo for user {{ user.name }}
mkdir -p /etc/sudoers.d
echo '{{ user.name }} ALL=(ALL) NOPASSWD:ALL' >> /etc/sudoers.d/{{ user.name }}

{{ additional_setup_steps|join("\n") }}
